body
{
	background-color: black;
	color: white;
}

#bloc_page
{
	margin: auto;
}

header
{
	display: flex;
	justify-content: space-between;
	/*redimentioner les images + vectoriel si possible*/
	width: auto;
	height: 10%;
	border: 2px solid #444;
}
#titre
{
	order: 1;
}

#logo
{
	order: 3;
}

nav
{
	flex: 1;
	order: 2;
	border: 2px solid #444;
	margin: auto;
}
nav ul
{
	display: flex;
	justify-content: space-around;
	margin: auto;
	list-style-type: none;
}
nav a 
{
	font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    color: white
}
nav a:hover
{
    border-bottom: 3px solid white;
}
nav ul li
{
	margin: 10px
}

#conteneur_articles
{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}

.article
{
	height: 400px;
}

.article:nth-child(1)
{
	background-color: blue;
	width: 1200px;
}
.article:nth-child(2)
{
	background-color: yellow;
	width: 640px;
}
.article:nth-child(3)
{
	background-color: pink;
	width: 640px;
}
.article:nth-child(4)
{
	background-color: green;
	width: 1200px;
}